@using PawGuide.Web
@model ArticleDetailsServiceModel
@{
    ViewData["Title"] = Model.Title;
}
<h2>@ViewData["Title"]</h2>
<h4><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h4>
<div>
    @Html.Raw(Model.Content)
    @if (User.IsInRole(WebConstants.ArticleAuthorRole))
    {
        <button type="submit" class="btn btn-default">Edit</button>
    }
</div>
