@model BusinessFormViewModel
@{
    ViewData["Title"] = "Publish Business";
}

@await Html.PartialAsync("_HeadingPartial")

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <form method="post" class="text-center" enctype="multipart/form-data">
            <h4>Add new Business.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<TypeBusiness>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WebPageUrl"></label>
                <input asp-for="WebPageUrl" class="form-control" />
                <span asp-validation-for="WebPageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <p>
                You can use this site to finde coordinates:
                <br />
                <a href="http://www.mapcoordinates.net/en">http://www.mapcoordinates.net/en</a>
            </p>
            <div class="form-group">
                <label asp-for="LatLocation"></label>
                <input asp-for="LatLocation" class="form-control" />
                <span asp-validation-for="LatLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LngLocation"></label>
                <input asp-for="LngLocation" class="form-control" />
                <span asp-validation-for="LngLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetTypes"></label>:
                <br/>
                @foreach (var enumValue in Enum.GetValues(typeof(PetType)).Cast<PetType>())
                {
                    <input type="checkbox" name="@nameof(PetType)s" value="@((int)enumValue)" /> @: @enumValue.ToDisplayName()<br/>
                }
                <span asp-validation-for="PetTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicUrl"></label>
                <input asp-for="PicUrl" class="form-control" />
                <span asp-validation-for="PicUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}